.hover{
	color: #6bbd7a !important;
}

.mark{
	color: #fb3056 !important;
}
body{

	background: rgba(107,189,122,.2);
}
#main{
	
	width: 512px;
	position: absolute;
	left: 50%;
	margin-left: -256px;
	height: 100%;
	overflow: hidden;
	background: url('./bg.png') center no-repeat;
	background-size: 490px;
}
#main-page {
	position: absolute;
	top: 45px !important;
	bottom: 45px !important;
	left: 55px !important;
	right: 55px !important;
	z-index: 100;
	width: auto !important;
	overflow: hidden;
	
}

#main-page .bar{
	border-bottom: none;
	height: 60px;
	padding: 0;
	position: absolute;

}
.playpage{
	position: absolute;

	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}


#main-page .bar .title{
color: #6bbd7a;
font-size: 24px;
line-height: 57px;
margin: 0;
}

.bar .title .smalldot{
	height: 8px;
	width: 8px;
	border-radius: 4px;
	display: inline-block;
	background-color: #cfebd2;
	position: relative;
	top: -4px;
	
}
.bar .title .bigdot{
	height: 10px;
	width: 10px;
	display: inline-block;
	background-color: #6bbd7a;
	border-radius: 5px;
	position: relative;
	top: -3px;
}

.bar-nav~.content{
	color: #808080;
	text-align: center;
	padding-top: 60px;
}



.channel{
  width: 33.3%;
  float: left;
  margin-bottom: 10px;
  text-align: center;
} 
.channel .imgbox{
  display: inline-block;
	width: 70px;
margin: 0 auto;
border-radius: 95%;
}
.imgbox img{
	width: 100%;
	border-radius: 50%;

}
.channel p{
	text-align: center;
	color: #6bbd7a;
	line-height: 25px;
	height: 25px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}

.song{
	margin-top: 15px;
}



/*********************环形进度条***************************/
	.circle {
		margin: 0 auto;
		width: 200px;
		height: 200px;
		position: relative;
		border-radius: 50%;
		background: #6bbd7a;
	}
	.pie_left, .pie_right {
		width:200px; 
		height:200px;
		position: absolute;
		top: 0;left: 0;
	}
	.left, .right {
		width:200px; 
		height:200px;
		background:#e8f3ea;
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.pie_right, .right {
		clip:rect(0,auto,auto,100px);
	}
	.pie_left, .left {
		clip:rect(0,100px,auto,0);
	}

	
	.mask {
		width: 176px;
		height: 176px;
		border-radius: 50%;
		left: 12px;
		top: 12px;
		position: absolute;
		text-align: center;
		line-height: 150px;
		font-size: 20px;
		font-weight: bold;
		color: #6bbd7a;
	}


	/* .circle .progress{
		display: none;
	} */

	.circle_id:before{
			content: "";
			display: inline-block;
			width: 12px;
			height: 12px;		
			background: #6bbd7a;
			border-right: none;
			position: relative;	
			top: -2px;
			left: 2px;
			border-radius: 90px;
			z-index: 999;
		}

	.left_id:before,
	.right_id:before{
			content: "";
			display: inline-block;
			width: 12px;
			height: 12px;
			background: #6bbd7a;
			position: relative;
			left: -1px;
			top: -2px;
			border-radius: 90px;
		}
	.left_id:before{
		
		top: 186px;
	}

/*********************环形进度条***************************/

.pause{
	width: 176px;
	height: 176px;
	border-radius: 50%;
	left: 12px;
	top: 12px;
	background: rgba(255,255,255,.8);
	position: absolute;
	text-align: center;
	font-weight: bold;
	color: #6bbd7a;
	font-size: 70px;
	line-height: 176px;
	display: none;

}
.icon-play2{
	position: relative;
	top: 5px;
}





.song .song_title{
	color: #353535;
	font-size: 24px;
	margin-top: 10px;
}

.song .song_artist{
	color: #9a9a9a;
	line-height: 30px;
}


.operation{
	height: 50px;
	width: 100%;
	position: absolute;
	bottom: 65px;
	visibility: hidden;
	
}
.operation ul li{
	height: 60px;
	width: 33.3%;
	float: left;
	color: #ccc;
	font-size: 28px;
}


.tab{
	height: 85px;
	width: 100%;
	position: absolute;
	bottom: 0;
	font-size: 30px;
	text-align: center;
	color: #808080;
	background: #fff;
	
}

.icon-last{
	font-size: 48px;
	position: relative;
	top: 8px;
	
}
.icon-plus{
	font-size: 40px;
	position: relative;
	top: 5px;
	
}

.tab ul li{
	height: 85px;
	line-height: 85px;
	width: 33.3%;
	float: left;
}



#listrecord{
	position: absolute;
	top: 0;
	bottom: 85px;
	left: 0;
	right: 0;
	width: 100%;
	
	z-index: 999;
	
}
#listrecord ul{
text-align: left;
width: 100%;

}
#listrecord ul li{
	line-height: 24px;
}


#channelpage,
#lrc,
#musiclist,
#setting{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
	width: 100%;
	padding-top: 15px;
	text-align: center;
	
}

.channels:after{
	content: "";
	clear: both;
}


#hideChannels{
	color: #808080;
	font-size: 18px;
	margin-left: 10px;
	line-height: 28px;
}

.visible{
	visibility: visible;

}
.invisible{
	visibility:hidden;
}


/********************歌词展示页************************/
	#lrc{
		background: url(lrcbg.jpg) center no-repeat;
		
	}
	#Lyrics,#wrapper{
		padding-top: 60px;
		position: absolute;
		width: 100%;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		overflow: hidden;
		
	}
	.Lyrics{
		line-height: 35px;
	}
	.lrcerror{
		width: 100%;
		position: absolute;
		top:45%;

	}

	.current{
		color: #6bbd7a;
		font-size: 18px;
	}
/********************歌词展示页************************/

#wrapper ul{
	overflow: hidden;
	padding-bottom: 50px;
}

/********************离线列表展示页************************/
	 .content>.table-view:first-child {
	 margin-top: 0;
	}
	.bar .icon-arrow-left{
		color: #808080;
		position: relative;
		top: 6px;
		left: 10px;
	}
	.table-view-cell{
		text-align: left;
		padding: 11px 15px;
	}
	.table-view-cell .songtitle{
		color: #06911F;
	}
	.table-view-cell .songartist{
		color: #99D29F;
		font-size: 12px;
	}
	.table-view-cell .icon-play{
		float: right;
		color: #ccc;
		line-height: 24px;
	}

/********************离线列表展示页************************/

	.icon-last:hover,
	.icon-bin:hover,
	.song_title:hover,
	.icon-plus:hover,
	.icon-list2:hover,
	.icon-arrow-left:hover,
	.icon-play:hover,
	#hideChannels:hover,
	.icon-next:hover,
	.icon-previous:hover{
		color: #6bbd7a;
	}

	.icon-heart:hover{
		color: #fb3056;
	}

#listrecord .content{
	background: #F0F8F1;
}
#listrecord .content ul{
	background: #E1F1E4;
}

#songlistwrap{
	overflow: hidden;
	position: absolute;
	top: 60px;
	right: 0;
	bottom: 0px;
	left: 0;
	padding-bottom: 60px;
}

/********************离线列表展示页************************/

/********************错误提示框************************/
.errortips{
	position: absolute;
	height: 150px;
	width: 200px;
	top: 50%;
	left: 50%;
	margin: -75px 0 0 -100px;
	background: rgba(107,189,122,.2);
	text-align: center;
	color: #fff;
	border-radius: 4px;
	z-index: 999;
}
.errortips .head{
	height: 30px;
	background: rgb(107,189,122);
	border-radius: 4px 4px 0 0;
}
.errortips .head h2{
	line-height: 30px;

}
.errortips .body{
	height: 90px;
	text-align: left;
	text-indent: 2em;
	color: #6bbd7a;
}
.errortips .body p{
	
	color: #000;
	line-height: 25px;
}
.errortips .foot{
	height: 30px;
}
.errortips .foot .sure{
	background: rgb(107,189,122);
	border: none;
	width: 50px;
	height: 28px;
	line-height: 28px;
	border-radius: 4px;
}
/********************错误提示框************************/



.moveFromBottom {
	-webkit-animation: moveFromBottom .6s ease both;
	animation: moveFromBottom .6s ease both;
}

@-webkit-keyframes moveFromBottom {
	from { -webkit-transform: translateY(100%); }
}
@keyframes moveFromBottom {
	from { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

.moveToTop {
	-webkit-animation: moveToTop .6s ease both;
	animation: moveToTop .6s ease both;
}

@-webkit-keyframes moveToTop {
	from { }
	to { -webkit-transform: translateY(-100%); }
}
@keyframes moveToTop {
	from { }
	to { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

.moveFromTop {
	-webkit-animation: moveFromTop .6s ease both;
	animation: moveFromTop .6s ease both;
}

@-webkit-keyframes moveFromTop {
	from { -webkit-transform: translateY(-100%); }
}
@keyframes moveFromTop {
	from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

.moveToBottom {
	-webkit-animation: moveToBottom .6s ease both;
	animation: moveToBottom .6s ease both;
}
@-webkit-keyframes moveToBottom {
	from { }
	to { -webkit-transform: translateY(100%); }
}
@keyframes moveToBottom {
	from { }
	to { -webkit-transform: translateY(100%); transform: translateY(100%); }
}



.moveToLeft {
	-webkit-animation: moveToLeft .6s ease both;
	animation: moveToLeft .6s ease both;
}
@-webkit-keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}


.moveToRight {
	-webkit-animation: moveToRight .6s ease both;
	animation: moveToRight .6s ease both;
}
@-webkit-keyframes moveToRight { 
	from { }
	to { -webkit-transform: translateX(100%); }
}
@keyframes moveToRight { 
	from { }
	to { -webkit-transform: translateX(100%); transform: translateX(100%); }
}


.moveFromLeft {
	-webkit-animation: moveFromLeft .6s ease both;
	animation: moveFromLeft .6s ease both;
}

@-webkit-keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}



.moveFromRight {
	-webkit-animation: moveFromRight .6s ease both;
	animation: moveFromRight .6s ease both;
}
@-webkit-keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}