<!DOCTYPE html> 
<html lang="en"> 
<head> 
<meta charset="utf-8" /> 
<title>SCNU_BookBar 华师书吧 书间传阅 家有藏书 寻书之旅</title> 

<script src="scripts/BaiduTemplate.js"></script> 
<link rel="stylesheet" media-"screen" href="styles/layout.css" />



</head> 
<body > 
	<div id="body">
		<img src="images/background.png" />
	</div>
	<div id="bodyhead">
		 <img src="images/transparent.gif" class="headsprite scnu"/>
		 <input type="text" name="search" />
		 <a href="#">搜索</a>
		 <a href="login.html">登录</a>
		 <a href="register.html">注册</a>
		 <img src="images/transparent.gif" class="headsprite logo"/>
	</div>	 
	<img src="images/transparent.gif" class="headsprite bookbar" />
	
	<div id="mainnav"> 	
		<a href="index.html" /><img src="images/transparent.gif" class="sprite homemini" alt="home" /></a>
		<a href="transaction.html"  /><img src="images/transparent.gif" class="sprite bookmini" alt="transaction" /></a>
		<a href="read.html" ><img src="images/transparent.gif" class="sprite shujianhere" alt="read" /></a>
		<a href="recommended.html" ><img src="images/transparent.gif" class="sprite haoshumini" alt="recommended" /></a>
	</div>
	<div id="content">
	<input type="button" class="button" value="高级搜索"/>
	<input type="text" class="text"name="search" />
		<div class="read jiayou" id="jiayou"></div>
		<div class="read xunshu" id="xunshu"></div>
		
	<div id="result">
	</div>
		<!-- 模板1开始，可以使用script（type设置为text/html）来存放模板片段，并且用id标示 -->
		<script id="resultone" type="text/html">
			 <div>
				<!-- 我是注释，语法均为Javascript原生语法，默认分割符为 <% %> ，也可以自定义，参见API部分 -->
				<!-- 判断语句if else-->
				<%if(jianjie.length>1) { %>
					<ul>
						<!-- 循环语句 for-->
						<%for(var i=0;i<jianjie.length;i++){%>
							<img class="touxiang" src="<%=img[i]%>" />
							<img class="shu" src="<%=imga[i]%>"  />
							<h4><%=bookname[i]%></h4>
							<p class="jianjie"><%=jianjie[i]%></p>	
						<%}%>
					</ul>
				<%}else{%>
					<h2>没有list数据</h2>   
				<%}%>
			</div>  
		</script>
		<!-- 模板1结束 -->
		
		<!-- 模板2开始，可以使用script（type设置为text/html）来存放模板片段，并且用id标示 -->
		<script id="resulttwo" type="text/html">
			 <div>
				<!-- 我是注释，语法均为Javascript原生语法，默认分割符为 <% %> ，也可以自定义，参见API部分 -->
				<!-- 判断语句if else-->
				<%if(miaoshu.length>1) { %>
					<ul>
						<!-- 循环语句 for-->
						<%for(var i=0;i<miaoshu.length;i++){%>
							<img class="zhaopian" src="<%=img[i]%>" />
							<p class="miaoshu"><%=miaoshu[i]%></p>	
						<%}%>
					</ul>
				<%}else{%>
					<h2>没有list数据</h2>   
				<%}%>
			</div>  
		</script>
		<!-- 模板2结束 -->

		<!-- 使用模板1 -->
		<script type="text/javascript">
		var dataone={
			"title":'欢迎使用baiduTemplate',
			"img":['images/person1.gif','images/person2.gif','images/person3.gif'],
			"imga":['images/book1.gif','images/book2.gif','images/book3.gif'],
			"bookname":['《逃离》--爱丽斯·门罗','《佛陀与想太多的猪》--小泉吉宏','《目送》--龙应台'],
			"jianjie":[
				'无数女人一生都不曾留意的细节与情绪',
				'想太多的猪，带你找到小幸福',
				'这是一本生死笔记，深邃、忧伤、美丽'
			]
			
		};

		

		<!-- 使用模板2 -->
		
		var datatwo={
			"img":['images/person1.gif','images/person2.gif','images/person3.gif'],
			"miaoshu":[
				'有没有哪位童鞋有大英四借来复印啊，可以联系我，跪求。。。',
				'跪求摄影技艺的公选课课本。',
				'求心理学、教育学的课本，谢谢啦~'
			]
			
		};
		
		
		
		
		//使用baidu.template命名空间
		var bt=baidu.template;

		//最简使用方法
		var html=bt('resultone',dataone);

		//渲染
		document.getElementById('result').innerHTML=html;
		</script>
	</div>
	<table id="userprofile">
	<tr><td>
	<img src="images/person.png" /></td>
	<td>
	<a href="perfect.html">NarellaChang</a>
	<p class="ziliao">634069612@qq.com</p>
	</td></tr>
	<tr><td colspan="2">
	<a href="#">书籍交易数：5本</a>
	</td></tr>
	<tr><td colspan="2">
	<a href="#">家有藏书数：6本</a>
	</td></tr>
	<tr><td colspan="2">
	<a href="#">寻书之旅数：5本</a>
	</td></tr>
	<tr><td colspan="2">	
	<a href="#">好书推荐书：3本</a>
	</td></tr>
	</table>
	
	<div id="footer">
		<p>版权信息</p>
	</div>
   

</body> 
<script src="scripts/jquery.js"></script>
<script src="scripts/staticNav.js"></script>
<script>addLoadEvent(changedata);</script>
</html> 