body{
	margin: 0; 
}

table{
	font-size: 13px;
}

.modal-backdrop, .modal-backdrop.fade.in {
	opacity: .1;
	filter: alpha(opacity=1);
}

.error{
	color: red;
}

input.num{
	text-align: right;
}

.alert-lite{
	position: absolute;
	left: 30%;
	top: 10px;
	min-width: 300px;
}

table a.visited{
	/*color: purple;*/
	/*color: #f2dede;*/
	color: #B5C3E7;
	color: #AE81FF;
}

col.selector{
	width: 30px;
}

h1{font-size: 24px; }
h2{font-size: 22px; }
h3{font-size: 20px; }
h4{font-size: 18px; }
h5{font-size: 16px; }
h6{font-size: 14px; }

/* ===主容器=== */
.main{
	margin: 10px;
	position: relative;
}
.content{
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 20px 10px 100px;
}
.tabpage .content{
	border-width: 0 1px 1px;
	border-radius: 0;
	padding-left: 0;
	padding-right: 0;
}
.expand-search{
	display: none;
}
.expander{
	vertical-align: bottom;
	text-decoration: none;
}
.expander:hover{
	text-decoration: none;
}

/* ===可用于任意容器内=== */
/* 用于连接表示范围的值，比如开始结束时间 */
.conn-char{
	margin-left: 8px;
	margin-right: 8px;
}
/* 复制按钮 */
.copy-link{
	position: relative;
	text-align: left;
	display: inline-block;
	margin-left: 5px;
	top: -5px;
}
/*.copy-link{position:relative;text-align:left;display:inline-block;margin-bottom: 2px;}*/
.copy-link .copy-message{
	position:absolute;
	width: 60px;
	top: -20px;
	left: -15px;
	display: none;
	color: gray;
}
.copy-link a i{
	background: url("http://pic.chukou1.com/0/0_ecb78b.png") 0 0 no-repeat;
	width:16px;
	height: 16px;
	display: inline-block;
	margin-bottom: -8px;
}
/*限制表格长文本单元格的最大宽度*/
.limit-text{
	text-align: left;
	margin: 0;
	max-height: 60px; /* 3行 */
	overflow:hidden;
}
/* 单位cm kg... */
small.unit{
	margin-left: 3px;
	color: #999;
	font-style: italic;
}


/* ===面包屑bar=== */
.breadcrumb-bar{
	margin-bottom: 20px;
}
.breadcrumb{ 
	display: inline-block;
	background: transparent;
	padding: 0;
	margin: 0;
	border: none;
}
/* 和面包屑同一行，界面操作如：如刷新，回退，在新Tab中打开... */
.page-nav-btns{float: right; }
.page-nav-btns i{
	cursor: pointer; 
	margin-left: 5px;
}


/* ===Tabbar=== */
.nav-tabs{ margin-bottom: 0; }
/* 与本页相关的外部页链接，显示在Tabbar的右侧 !!!.nav-listpage是兼容配置，要删除 */
.nav-external, .nav-listpage{
	float: right;
	margin-top: -40px;
}
.nav-external li, .nav-listpage li{
	display: inline;
	margin-right: 10px;
	line-height: 38px;
}


/* ===Tab页的二级导航=== */
.tabpage .nav-sub{
	padding: 15px;
	margin: 0;
}


/* ===查询表单=== */
.form-search{
	margin: 0;
	padding-bottom: 10px;
}
.form-search label{
	width: 120px; 
	text-align: right;
	margin-right: 5px;
}
.form-search label.checkbox{
	width: auto;
}
.form-search .row{
	margin-bottom: 10px;
}
.form-search .offset-label{
	margin-left: 125px; /* label-width: 120 + label-margin: 5; */
}


/* ===表格工具栏=== */
.table-toolbar {
	background: #EDEDED;
	text-align: left !important;
	padding: 0 10px;
	line-height: 39px;
	border-top: 1px solid #ddd;
}
.table-toolbar .main-actions{float: left; }
.table-toolbar .sub-actions{
	float: right; 
}
.table-toolbar .sub-actions a{
	text-decoration: none;
	margin-left: 10px;
}

.table-toolbar .sub-actions .checkbox{
	margin-top: -7px;
	cursor: pointer;
}

.content>div, .content>footer{
	padding: 0 10px;
	clear: both;
}

.content footer{
	min-height: 40px;
}


/* ===表格=== */
.table { 
	border-right: none; 
	margin-left: -1px;
	border-bottom: 1px solid #ddd;
}

/* 覆盖bootstrap默认设置，交换奇偶数行的背景，使列头的背景为灰 */
.table th{ background-color: #EDEDED; }
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th { background-color: transparent; }
.table-striped tbody tr:nth-child(even) td,
.table-striped tbody tr:nth-child(even) th { background-color: #F9F9F9; }

/* 移除默认的表格边框圆角 */
.table-bordered{
	border-radius: 0;
}
.table-bordered caption + thead tr:first-child th:first-child, 
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
    border-top-left-radius: 0;
}
.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child,
.table-bordered tfoot:last-child tr:last-child td:first-child {
    border-radius: 0;
}
.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
    border-top-left-radius: 0;
}
.table-bordered caption+thead tr:first-child th:last-child,
.table-bordered caption+tbody tr:first-child td:last-child,
.table-bordered colgroup+thead tr:first-child th:last-child,
.table-bordered colgroup+tbody tr:first-child td:last-child {
	border-top-right-radius: 0;
}
.table-bordered thead:first-child tr:first-child>th:last-child,
.table-bordered tbody:first-child tr:first-child>td:last-child,
.table-bordered tbody:first-child tr:first-child>th:last-child{

	border-top-right-radius: 0;
}

/* 单元格内容居中 */
.table th, .table td { 
	text-align: center; 
	vertical-align: middle;
}

/* 单元格里面的多行信息 */

/* 内容是定义列表的单元格 */
.dl-cell{
	text-align: left !important;
}
.num-cell{
	text-align: right !important;
}
.varlength-cell{
	text-align: left !important;
}

.table td dl{ 
	margin: 0 auto; 
	clear: both;
	text-align: center;
	display: inline-block;
}
.table td dl dt{
	clear: left;
	float: left;
	text-align: right;
	font-weight: normal;
	margin-right: 5px;
	width: 80px;
}
.table td dl dd{
	clear: both;
	float: left;
	margin-left: 85px;
}

.table td dl dt+dd{
	clear: right;
	text-align: left;
	margin-left: 0;
}

.table td dl dd.money{
	width: 85px;
	text-align: right;
}

/* 记录操作单元格 */
td.action a{
	text-decoration: none;
	margin: 0 auto;
}
td.action ul{
	list-style-type: none;
	margin: 0;
}
td.action .btn{margin-bottom: 5px; }


/* ===分页导航=== */
.pagination-right{margin-right: 10px; }



/* ===信息面板=== */
.panel {
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 20px;
}
/*.panel h3{font-size: 16px; }*/
/*.panel h4{font-size: 14px; }*/
.panel-hd{
	padding: 0 10px;
	background-color: #EEEEEE;
	background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
	background-repeat: repeat-x;
	border-bottom: 1px solid #ccc;
	border-radius: 5px 5px 0 0;
}
.panel-hd h3{
	margin: 0;
	line-height: 35px;
}
.panel-ft{
    padding: 5px 20px; 
    text-align: right; 
}
.panel-bd{ padding: 15px; }
.panel-hd{
	padding: 0 10px;
	background-color: #EEEEEE;
	background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
	background-repeat: repeat-x;
	border-bottom: 1px solid #ccc;
	border-radius: 5px 5px 0 0;
}
.panel-hd h3{
	margin: 0;
	line-height: 35px;
}
.panel-ft{
    padding: 5px 20px; 
    text-align: right; 
}
.panel-bd{ padding: 15px; }


/* ===详情页=== */
/* 对象的属性 */
.properties section{border-bottom: 1px solid #dddddd; }
.properties section:last-child{border-bottom: none; }
.properties h3{
	margin-left: 10px;
	margin-bottom: 0px;
}
.properties dl{
	margin-left: 30px;
	margin-top: 0px;
	margin-bottom: 10px;
}
.properties dl dt{
	float: left;
	width: 100px;
	margin-bottom: 8px;
	text-align: right;
	font-weight: normal;
}
.properties dl dd{
	float: left;
	margin-left: 0px;
	width:250px;
	white-space: nowrap;
	min-width: 100px;
	min-height: 20px;
}
.properties dt.newline{
	clear: left;
}

/* 对象拥有的集合 */
.collections{
	margin: 50px 0 100px 0;
}

/* ===步骤条=== */
.stepbar{
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
}
.stepbar ol li{
	display: inline-block;
	list-style-type: none;
	vertical-align: top;
	padding: 10px 10px 0 10px;
	position: relative;
	min-width: 80px;
	background: transparent url("http://pic.chukou1.com/0/0_1279ff.png") center 0 no-repeat;
}
.stepbar ol li:before{
	position: absolute;
	top: -6px;
	right: -30px;
	content: url("http://pic.chukou1.com/0/0_3f42f6.png");
}
.stepbar ol li.finished:before{
	position: absolute;
	top: -6px;
	right: -30px;
	content: url("http://pic.chukou1.com/0/0_392c89.png");
}
.stepbar ol li.endpoint:before{display: none; }
.stepbar time{color: #999; }
.stepbar ol li.active{
	background-image:url("http://pic.chukou1.com/0/0_32615a.png"); 
}
.stepbar ol li.finished{
	background-image:url("http://pic.chukou1.com/0/0_32615a.png"); 
}
