/*global*/
html,
body{
	height: 100%;
	font-family:"宋体","Microsoft YaHei UI", "Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
	background:#fff;
	color: #333;
	margin: 0;
	padding: 0;
}

li{list-style: none;}

a{color: #333;}
a:hover{color: #333;}


h3,h4{margin: 0;}


/*覆盖/改写bootstrap默认属性值*/
ul,ol{margin: 0;}

.table th,
.table td {
	border-top: none;
	line-height: 24px;
}

.table th{border-bottom:1px solid #d2dff6;}


select,
input[type="text"]{
  border: 1px solid #4899f1;
}

.table-striped tbody > tr:nth-child(even) > td,
.table-striped tbody > tr:nth-child(even) > th {
  background-color: #f7fafd;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
	color: #0088cc;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #e6f2f8;
}
