@import (less) "common.less";

/** header **/

.head{
	overflow: hidden;
	height: 75px;
	font-size: 12px;
	line-height: 20px;
	margin:0 auto;
	.logo{
		padding-left: 20px; 
		
	}
	.welcome{
		margin-top: 14px;
	    text-align:right;	    
		span{			
			text-decoration:none;
			margin-left: 3px;
		}
		.gap{
			display: inline-block;
			width: 2px;
			margin: 0 10px;
		}
		p{
			
			margin-right: 20px;
		}
	}
	.quicks {
		float: right; 
		
		margin-right: 20px;
		li{
			float: left;
		   
		}
		a{
			margin-left: 10px;	
			color: #295bcc; 
		}
	}	
}
/** End header **/


.wrap{
	overflow: hidden;
	width: 100%;
	background-color: #fff;
	.top-left-radius;

 }
 .container{
 	width: 100%;
	margin: 1px 0 0 7px;
 	padding: 7px 0 0 7px;
 	background-color: #8db0e0;
 	.top-left-radius;

 }

.wrap .navmenu{
	float: left;
	width: 140px;
	height: 710px; 
    background-color: #fff;
    border: 1px solid #5993e2;
    .border-radius;
     box-shadow: 1px 1px 3px #CCC;	
}
.content{
  overflow: hidden;
  margin-left: 149px;
  background-color: #fff;
  border: 1px solid #5993e2;
  border-right: none;
  .top-left-radius;
  border-bottom: none;
  padding:12px 12px 0;
}
/*左侧导航*/

	 
.mainmenu{
		>li{
			padding: 1px;
			position: relative;
			height:45px; /*这个不能删除，删除后会导致li的高度不一致*/
			&:after{
				content:url("./../images/gradientline.jpg") no-repeat;
				position: relative;
				top: -12px;
			}
			&:hover{
				padding: 0;
				border: 1px solid #3583DB;				
				border-right: none;
				box-shadow: 3px 3px 6px #C2C2C2;			
				background-color: #fff;
				.submenu{
					display: block; 
					text-align: left;
					position: absolute;
					z-index: 2;
					top: -1px;
					left: 139px;
					width: 330px;
					min-height: 200px;
					background: white;
					border:1px solid #3583DB;
					box-shadow: 3px 3px 6px #C2C2C2;
					padding: 10px 15px 10px 15px;					
				}
				/*覆盖边框用的*/
				&:after{
					content: " ";
					display: block;
					background: #fff;
					position: absolute;
					z-index: 9;
					width: 2px;
					height: 45px;
					top: 0;
					left: 138px;	
				}
				.arrow{
					display: none;
				}

			} 
		}
		h3{
			color:#295bcc;
			font-weight: bold;
			font-size: 14px;
			padding-left: 25px;
			line-height: 44px;
		}
		.arrow{
			position: absolute;
			right: 25px;
			font-size: 12px;
			color: #d2dff6;
		}
		h4{
			font-size: 14px; 
			font-weight: bolder;
		}
		em{color: #E67900; }

		/*高亮重要和快捷的链接*/
		 .hignlight-menu a{
			color: #E67900;
		}
}

.submenu{
	display: none; 
	ul{
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom:1px solid #E2E4E3;
		li{
			display: inline-block;
			line-height: 15px;
			border-right: 1px solid #E2E4E3;
			padding-right: 7px;
			margin-right: 5px;
			font-size: 12px;
			font-family: "宋体";
			&:last-child{
				border: none;
			}
			&:last-child{
				ul{
					padding-bottom: 0;
					border: none;
				}
			}
		}
	}
}
/* 结束左侧导航*/


iframe{
width: 100%;
height: 1450px;
z-index: 1;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
}



